@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "colors";

// START - Global part
// Notice - mobile first
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: inherit;
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: keep-all;
}

:root,
html {
  font-size: 10px;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

body {
  // font-size: clamp(0.6rem, 2.5vw, 2rem);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.6rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    nav {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 6rem;
        padding: 0 10px;
        display: flex;
        align-items: center;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          a {
            text-decoration: none;
            color: $font-white;
            font-weight: 300;
            font-size: 1.2rem;
          }
        }
      }
    }
  }
  footer {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    background-color: #1b1b1b;
    padding: 2rem 1.4rem;
    div {
      margin-bottom: 1.4rem;
    }
    .company-title {
      font-weight: 400;
    }

    // display: flex;
    .company-info {
      font-size: 0.8rem;
      line-height: 1.38;
      // padding-bottom: 1.4rem;

      letter-spacing: normal;
      color: #fffef1;
      border-bottom: solid 1px #dddcd1;
    }
    .copyright {
      font-size: 0.8rem;
    }
  }
}

// END - Global part

// START - scroll down icon
.scroll-down {
  position: fixed;
  bottom: 5.5rem;
  right: 4%;
  bottom: 4%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
  .scroll {
    width: 2rem;
    height: 4rem;
    border: 2px solid black;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4);

    .scroll-dot {
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: black;
      display: block;
      animation: cursor 1.15s linear infinite;
    }
  }
  .arrow-down {
    width: 0.8rem;
    height: 0.8rem;
    border: 2px solid transparent;
    border-left-color: black;
    border-bottom-color: black;
    transform: rotate(-45deg);
    margin-top: 0.3rem;
    animation: arrow 1.15s linear infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0;
    transform: translatey(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
// END - scroll down icon

br.break-t {
  display: none;
}

.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(
    ellipse at center,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.7) 100%
  );
  pointer-events: none;
}

#hero-section {
  position: relative;
  // width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #178dc5;

  // background-image: url("../img/whale-grass/hero/bg-mobile.jpg");
  // background-repeat: no-repeat;
  // background-position: center center;
  // background-size: cover;

  .parallax {
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
  }

  .whale {
    position: absolute;
    width: 70%;
    max-width: 600px;
    top: calc(50% + 4vh);
    left: calc(50% - 0px);
    z-index: 3;
  }

  .text {
    position: absolute;
    top: calc(50% - 25%);
    left: calc(50% - 0px);
    z-index: 6;
    text-align: center;
    text-transform: uppercase;
    color: $font-white;
    pointer-events: auto;
    width: 100%;

    h1 {
      font-weight: 800;
      font-size: 6rem;
      line-height: 1.2;
    }
    h2 {
      font-weight: 200;
      font-size: 4.5rem;
      line-height: 1.2;
    }
  }

  .bg {
    display: none;
    position: absolute;
    // width: calc(100% + 400px);
    // top: calc(50% - 100px);
    // left: calc(50% + 10px);
    height: 120vh;
    top: calc(50%);
    left: calc(50%);
    z-index: 1;
  }

  .bg-mobile {
    position: absolute;
    // width: calc(100% + 240%);
    height: 120vh;
    top: calc(50%);
    left: calc(50%);
    z-index: 1;
  }

  .ground {
    display: none;
    position: absolute;
    width: calc(100% + 400px);
    top: calc(50% + 500px);
    left: calc(50% + 10px);
    z-index: 2;
  }

  .bg-1-left {
    display: none;
    position: absolute;
    width: 600px;
    top: calc(50% - 160px);
    left: calc(50% - 1040px);
    z-index: 3;
  }

  .bg-2-left {
    display: none;
    position: absolute;
    width: 740px;
    top: calc(50% + 50px);
    left: calc(50% - 920px);
    z-index: 4;
  }

  .bg-3-left {
    display: none;
    position: absolute;
    width: 1000px;
    top: calc(50% + 400px);
    left: calc(50% - 820px);
    z-index: 4;
  }

  .bg-1-right {
    display: none;
    position: absolute;
    width: 600px;
    top: calc(50% - 160px);
    left: calc(50% + 1040px);
    z-index: 3;
  }

  .bg-2-right {
    display: none;
    position: absolute;
    width: 740px;
    top: calc(50% + 50px);
    left: calc(50% + 1000px);
    z-index: 4;
  }

  .bg-3-right {
    display: none;
    position: absolute;
    width: 1000px;
    top: calc(50% + 400px);
    left: calc(50% + 820px);
    z-index: 4;
  }

  // .sun-ray {
  //   width: 100%;
  //   position: absolute;
  //   z-index: 20;
  //   top: 0;
  //   right: 0;
  //   pointer-events: none;
  // }
}

#story-section {
  // height: 100vh;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  // height: calc(var(--vh, 1vh) * 100);

  width: 100%;
  // height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  background-image: url("../img/whale-grass/story/bg-mobile.png");
  background-repeat: no-repeat;
  background-position: center top 5%;
  background-size: min(100%, 60vh);

  .story-part {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .img {
      position: absolute;
      z-index: 1;
      width: 100%;
      transform: translate(-50%, -50%);
      text-align: center;
      img {
        max-width: 50vh;
        width: 80%;
      }
    }
    p,
    pre {
      position: absolute;
      transform: translate(-50%, -50%);
      left: 50%;
      top: 70%;
      color: $font-black;
      font-size: 1.8rem;
      z-index: 2;
      text-shadow: 0px 0px 4px white;
      padding: 0 1.4rem;
      width: 100%;
      text-align: center;
    }
  }
  .part-1 .img {
    // top: 36%;
    left: 30%;
  }
  .part-2 .img {
    // top: 50%;
    left: 70%;
  }
  .part-3 .img {
    // top: 40%;
    left: 50%;
  }
}

#best-section {
  margin-bottom: 10rem;
  overflow: hidden;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between; /* 두 개의 div 사이에 여백을 고르게 분배 */
    flex-direction: column; /* 작은 화면에서는 세로 방향으로 정렬 */
    padding: 0 20px; /* 컨테이너의 좌우 여백 */
    margin: 10px auto 2.4rem auto; /* 세로 정렬 시 위아래 여백 */
    max-width: 1200px;

    &.title {
      text-align: center;
      justify-content: center;
      margin-bottom: 4rem;
    }

    .best-part {
      flex: 1; /* 각 div가 동일한 크기를 가지도록 */
      margin: 0 3.8rem; /* 각 div 사이에 여백을 설정 */
      margin: 10px 0; /* 세로 정렬 시 위아래 여백 */
      width: 100%;
    }

    .img {
      img {
        width: 100%;
        // max-width: 542px;
      }
    }
    .text {
      color: $font-light-gray;
      font-size: 1.2rem;
      width: 100%;
      h3 {
        color: $font-black;
        font-size: 1.8rem;
        margin-bottom: 1.2rem;
      }
    }
  }
}

#summary-section {
  display: block;
  position: relative;
  height: 75vh;
  overflow: hidden;

  background-image: url("../img/whale-grass/summary/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .desc {
    position: absolute;
    bottom: 20%;
    left: 50%;
    width: 100%;
    padding: 0 20px;
    color: #fff;
    text-align: center;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 300;
    .tit {
      span {
        font-size: 1.8rem;
        font-weight: 400;
      }
      margin-bottom: 1.6rem;
    }
    .txt {
    }
  }
}

// 태블릿 디바이스 (가로 해상도가 768px 보다 큰 화면에 적용)
@media (min-width: 768px) {
  :root,
  html {
    font-size: 12px;
  }

  br.break-m {
    display: none;
  }
  
  br.break-t {
    display: inline;
  }

  #hero-section {
    // background-image: none;
    .bg-mobile {
      display: none;
    }
    .bg {
      height: 130vh;
    }
    .bg,
    .ground,
    .bg-1-left,
    .bg-2-left,
    .bg-3-left,
    .bg-1-right,
    .bg-2-right,
    .bg-3-right {
      display: block;
    }
  }
  
  #story-section {
    background-image: url("../img/whale-grass/story/bg.png");
    background-repeat: no-repeat;
    background-position: center top 5%;
    background-size: 120vh;
  }

  #best-section {
    .container {
      flex-direction: row;
      &.best-part-1 {
        flex-direction: row-reverse;
      }
      .best-part {
        padding: 0 1.2rem;
      }
      .img {
        img {
          max-width: 542px;
        }
      }
    }
  }
}

// 데스크탑 (가로 해상도가 992px 보다 큰 화면에 적용)
@media (min-width: 992px) {
  :root,
  html {
    font-size: 14px;
  }

  br.break-t {
    display: none;
  }
}

// 큰화면 데스크탑 (가로 해상도가 1200px 보다 큰 화면에 적용)
@media (min-width: 1200px) {
  :root,
  html {
    font-size: 16px;
  }
}
