@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import "colors";
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: inherit;
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: keep-all;
}

@media (max-width: 600px) {
  html {
    font-size: 12px;
    position: relative;
  }
}

body {
  // font-size: clamp(0.6rem, 2.5vw, 2rem);
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;

  header {
    position: absolute;
    z-index: 9999;
    width: 100%;
    padding: 0.6rem 0;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    nav {
      max-width: 1400px;
      margin: 0 auto;
      padding: 0 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        width: 80px;
        padding: 0 10px;
        display: flex;
        align-items: center;
        svg {
          width: 100%;
          height: 100%;
        }
      }

      ul {
        display: flex;
        list-style: none;
        align-items: center;
        li {
          display: flex;
          align-items: center;
          padding: 0 1rem;
          a {
            text-decoration: none;
            color: $font-white;
            font-weight: 300;
            font-size: 0.83rem;
          }
        }
      }
    }
  }

  main {
    .hero-section {
      position: relative;
      // width: 100vw;
      height: 100vh;
      overflow: hidden;
      background-color: #178dc5;

      .parallax {
        pointer-events: none;
        transform: translate(-50%, -50%);
        transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
      }

      .bg {
        position: absolute;
        width: calc(100% + 400px);
        top: calc(50% - 100px);
        left: calc(50% + 10px);
        z-index: 1;
      }

      .ground {
        position: absolute;
        width: calc(100% + 400px);
        top: calc(50% + 500px);
        left: calc(50% + 10px);
        z-index: 2;
      }

      .bg-1-left {
        position: absolute;
        width: 600px;
        top: calc(50% - 160px);
        left: calc(50% - 1040px);
        z-index: 3;
      }

      .bg-2-left {
        position: absolute;
        width: 740px;
        top: calc(50% + 50px);
        left: calc(50% - 920px);
        z-index: 4;
      }

      .bg-3-left {
        position: absolute;
        width: 1000px;
        top: calc(50% + 400px);
        left: calc(50% - 820px);
        z-index: 4;
      }

      .bg-1-right {
        position: absolute;
        width: 600px;
        top: calc(50% - 160px);
        left: calc(50% + 1040px);
        z-index: 3;
      }

      .bg-2-right {
        position: absolute;
        width: 740px;
        top: calc(50% + 50px);
        left: calc(50% + 1000px);
        z-index: 4;
      }

      .bg-3-right {
        position: absolute;
        width: 1000px;
        top: calc(50% + 400px);
        left: calc(50% + 820px);
        z-index: 4;
      }

      .whale {
        position: absolute;
        width: 800px;
        top: calc(50% + 30px);
        left: calc(50% - 0px);
        z-index: 3;
      }

      .text {
        position: absolute;
        top: calc(50% - 160px);
        left: calc(50% - 0px);
        z-index: 6;
        text-align: center;
        text-transform: uppercase;
        color: $font-white;
        pointer-events: auto;

        h1 {
          font-weight: 800;
          font-size: 8rem;
          line-height: 1.1;
        }
        h2 {
          font-weight: 100;
          font-size: 6.5rem;
          line-height: 1.1;
        }
      }

      .sun-ray {
        width: 100%;
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        pointer-events: none;
      }
      .vignette {
        position: absolute;
        z-index: 100;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(
          ellipse at center,
          rgba(0, 0, 0, 0) 70%,
          rgba(0, 0, 0, 0.7) 100%
        );
        pointer-events: none;
      }
    }
    .story-section {
      width: 100%;
      height: 100vh;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      div {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;

        img {
          position: absolute;
          // max-width: 1200px;
          // border-radius: 50%;
          z-index: 1;
          opacity: 0.4;
          width: 80%;
          left: 50%;
          // top: 50%;
          transform: translate(-50%, -50%);
          // min-width: 600px;
        }
        p {
          color: $font-black;
          font-size: 2.4rem;
          z-index: 2;
          text-shadow: 0px 0px 4px white;
          padding: 0 1.4rem;
          width: 100%;
          text-align: center;
        }

        &.story-part-1 img {
          left: calc(50% - 18%);
          top: -8%;
        }
        &.story-part-2 img {
          left: calc(50% + 12%);
          top: 18%;
        }
      }
    }
    .best-section {
      height: 100vh;
      margin-bottom: 10rem;
      overflow: hidden;
      .container {
        display: flex;
        align-items: center;
        justify-content: space-between; /* 두 개의 div 사이에 여백을 고르게 분배 */
        padding: 0 20px; /* 컨테이너의 좌우 여백 */
        margin: 6rem 0;
        max-width: 1200px;
        margin: auto;
        .best-part {
          flex: 1; /* 각 div가 동일한 크기를 가지도록 */
          margin: 0 3.8rem; /* 각 div 사이에 여백을 설정 */
        }
        .img {
          img {
            width: 100%;
            max-width: 460px;
          }
        }
        .text {
          color: $font-light-gray;
          font-size: 1.2rem;
          h2 {
            color: $font-black;
            font-size: 1.8rem;
            margin-bottom: 1.4rem;
          }
        }
      }
      .best-part-1 {
        flex-direction: row-reverse;
      }

      @media (max-width: 600px) {
        .container {
          flex-direction: column; /* 작은 화면에서는 세로 방향으로 정렬 */
          align-items: center;
          .best-part {
            margin: 10px 0; /* 세로 정렬 시 위아래 여백 */
          }
        }
      }
    }
    .summary-section {
      display: block;
      position: relative;
      height: 75vh;
      overflow: hidden;

      background-image: url("../img/whale-grass/summary/bg.png");
      background-repeat: no-repeat;
      background-position: center center;
      background-size: cover;
      .desc {
        position: absolute;
        bottom: 20%;
        left: 50%;
        width: 100%;
        padding: 0 20px;
        color: #fff;
        text-align: center;
        transform: translateX(-50%);
        font-size: 1.2rem;
        font-weight: 300;
        .tit {
          span {
            font-size: 1.8rem;
            font-weight: 400;
          }
          margin-bottom: 1.6rem;
        }
        .txt {
        }
      }
    }
  }

  footer {
    font-size: 1rem;
    font-weight: 300;
    color: white;
    background-color: #1b1b1b;
    padding: 2rem 1.4rem;
    div {
      margin-bottom: 1.4rem;
    }
    .company-title {
      font-weight: 400;
    }

    // display: flex;
    .company-info {
      font-size: 0.8rem;
      line-height: 1.38;
      // padding-bottom: 1.4rem;

      letter-spacing: normal;
      color: #fffef1;
      border-bottom: solid 1px #dddcd1;
    }
    .copyright {
      font-size: 0.8rem;
    }
  }
}
