@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: inherit;
  outline: 0;
  box-sizing: border-box;
  word-wrap: break-word;
  word-break: keep-all;
}

:root,
html {
  font-size: 10px;
}

h2 {
  font-size: 2.4rem;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body header {
  position: absolute;
  z-index: 9999;
  width: 100%;
  padding: 0.6rem 0;
  top: 0;
  left: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
body header nav {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header nav .logo {
  width: 6rem;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
body header nav .logo svg {
  width: 100%;
  height: 100%;
}
body header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
body header nav ul li {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
body header nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1.2rem;
}
body footer {
  font-size: 1rem;
  font-weight: 300;
  color: white;
  background-color: #1b1b1b;
  padding: 2rem 1.4rem;
}
body footer div {
  margin-bottom: 1.4rem;
}
body footer .company-title {
  font-weight: 400;
}
body footer .company-info {
  font-size: 0.8rem;
  line-height: 1.38;
  letter-spacing: normal;
  color: #fffef1;
  border-bottom: solid 1px #dddcd1;
}
body footer .copyright {
  font-size: 0.8rem;
}

.scroll-down {
  position: fixed;
  bottom: 5.5rem;
  right: 4%;
  bottom: 4%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}
.scroll-down .scroll {
  width: 2rem;
  height: 4rem;
  border: 2px solid black;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.4);
}
.scroll-down .scroll .scroll-dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: black;
  display: block;
  animation: cursor 1.15s linear infinite;
}
.scroll-down .arrow-down {
  width: 0.8rem;
  height: 0.8rem;
  border: 2px solid transparent;
  border-left-color: black;
  border-bottom-color: black;
  transform: rotate(-45deg);
  margin-top: 0.3rem;
  animation: arrow 1.15s linear infinite;
}

@keyframes cursor {
  0% {
    opacity: 0;
    transform: translatey(-1rem);
  }
  100% {
    opacity: 1;
    transform: translateY(1rem);
  }
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
.vignette {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 0.7) 100%);
  pointer-events: none;
}

#hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
  background-color: #178dc5;
}
#hero-section .parallax {
  pointer-events: none;
  transform: translate(-50%, -50%);
  transition: 0.45s cubic-bezier(0.2, 0.49, 0.32, 0.99);
}
#hero-section .whale {
  position: absolute;
  width: 70%;
  max-width: 400px;
  top: 60%;
  left: calc(50% - 0px);
  z-index: 3;
}
#hero-section .text {
  position: absolute;
  top: 30%;
  left: calc(50% - 0px);
  z-index: 6;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  pointer-events: auto;
  width: 100%;
}
#hero-section .text h1 {
  font-weight: 800;
  font-size: 6rem;
  line-height: 1.1;
}
#hero-section .text h2 {
  font-weight: 100;
  font-size: 4.5rem;
  line-height: 1.1;
}
#hero-section .bg {
  display: none;
  position: absolute;
  height: 120vh;
  top: 50%;
  left: 50%;
  z-index: 1;
}
#hero-section .bg-mobile {
  position: absolute;
  height: 120vh;
  top: 50%;
  left: 50%;
  z-index: 1;
}
#hero-section .ground {
  display: none;
  position: absolute;
  width: calc(100% + 400px);
  top: calc(50% + 500px);
  left: calc(50% + 10px);
  z-index: 2;
}
#hero-section .bg-1-left {
  display: none;
  position: absolute;
  width: 600px;
  top: calc(50% - 160px);
  left: calc(50% - 1040px);
  z-index: 3;
}
#hero-section .bg-2-left {
  display: none;
  position: absolute;
  width: 740px;
  top: calc(50% + 50px);
  left: calc(50% - 920px);
  z-index: 4;
}
#hero-section .bg-3-left {
  display: none;
  position: absolute;
  width: 1000px;
  top: calc(50% + 400px);
  left: calc(50% - 820px);
  z-index: 4;
}
#hero-section .bg-1-right {
  display: none;
  position: absolute;
  width: 600px;
  top: calc(50% - 160px);
  left: calc(50% + 1040px);
  z-index: 3;
}
#hero-section .bg-2-right {
  display: none;
  position: absolute;
  width: 740px;
  top: calc(50% + 50px);
  left: calc(50% + 1000px);
  z-index: 4;
}
#hero-section .bg-3-right {
  display: none;
  position: absolute;
  width: 1000px;
  top: calc(50% + 400px);
  left: calc(50% + 820px);
  z-index: 4;
}

#story-section {
  min-height: 100vh;
  min-height: -webkit-fill-available;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-image: url("../img/whale-grass/story/bg-1.png");
  background-repeat: no-repeat;
  background-position: center top 5%;
  background-size: min(100%, 60vh);
}
#story-section .story-part {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
#story-section .story-part .img {
  position: absolute;
  z-index: 1;
  width: 100%;
  transform: translate(-50%, -50%);
  text-align: center;
}
#story-section .story-part .img img {
  max-width: 50vh;
  width: 80%;
}
#story-section .story-part p, #story-section .story-part pre {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 70%;
  color: #1A1A1A;
  font-size: 1.8rem;
  z-index: 2;
  text-shadow: 0px 0px 4px white;
  padding: 0 1.4rem;
  width: 100%;
  text-align: center;
}
#story-section .part-1 .img {
  left: 30%;
}
#story-section .part-2 .img {
  left: 70%;
}
#story-section .part-3 .img {
  left: 50%;
}

#best-section {
  margin-bottom: 10rem;
  overflow: hidden;
}
#best-section .container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* 두 개의 div 사이에 여백을 고르게 분배 */
  padding: 0 20px; /* 컨테이너의 좌우 여백 */
  margin: 6rem 0;
  max-width: 1200px;
  margin: auto;
}
#best-section .container.title {
  text-align: center;
  justify-content: center;
  margin-bottom: 2.4rem;
}
#best-section .container .best-part {
  flex: 1; /* 각 div가 동일한 크기를 가지도록 */
  margin: 0 3.8rem; /* 각 div 사이에 여백을 설정 */
}
#best-section .container .img img {
  width: 100%;
  max-width: 460px;
}
#best-section .container .text {
  color: #828282;
  font-size: 1.2rem;
}
#best-section .container .text h2 {
  color: #1A1A1A;
  font-size: 1.8rem;
  margin-bottom: 1.4rem;
}
#best-section .best-part-1 {
  flex-direction: row-reverse;
}
@media (max-width: 600px) {
  #best-section .container {
    flex-direction: column; /* 작은 화면에서는 세로 방향으로 정렬 */
    align-items: center;
  }
  #best-section .container .best-part {
    margin: 10px 0; /* 세로 정렬 시 위아래 여백 */
  }
}

#summary-section {
  display: block;
  position: relative;
  height: 75vh;
  overflow: hidden;
  background-image: url("../img/whale-grass/summary/bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
#summary-section .desc {
  position: absolute;
  bottom: 20%;
  left: 50%;
  width: 100%;
  padding: 0 20px;
  color: #fff;
  text-align: center;
  transform: translateX(-50%);
  font-size: 1.2rem;
  font-weight: 300;
}
#summary-section .desc .tit {
  margin-bottom: 1.6rem;
}
#summary-section .desc .tit span {
  font-size: 1.8rem;
  font-weight: 400;
}
br.break-t {
  display: none;
}

@media (min-width: 768px) {
  :root,
  html {
    font-size: 12px;
  }
  br.break-m {
    display: none;
  }
  br.break-t {
    display: inline;
  }
  #hero-section .bg-mobile {
    display: none;
  }
  #hero-section .bg {
    height: 130vh;
  }
  #hero-section .bg,
  #hero-section .ground,
  #hero-section .bg-1-left,
  #hero-section .bg-2-left,
  #hero-section .bg-3-left,
  #hero-section .bg-1-right,
  #hero-section .bg-2-right,
  #hero-section .bg-3-right {
    display: block;
  }
}
@media (min-width: 992px) {
  :root,
  html {
    font-size: 14px;
  }
  br.break-t {
    display: none;
  }
}
@media (min-width: 1200px) {
  :root,
  html {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
